body
{
    font-family:Avenir-Light;
    /*font-size:120%;*/
    /*text-align: center;*/
}

img
{
	border: 2px solid #000;
    margin: 10px 10px 10px 20px;
    
    /* Center images */
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img.screenshot-horiz
{
    width: 75%;
}

img.screenshot-vert
{
    width: 66%;
}

img.steps
{
    width: 90%;
	border: none;
}

p.question 
{
	font-weight:bold;
}

p.answer 
{
	font-weitht:lighter;
}

li.contact
{
    font-size:85%;
}
